.comments {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.desc {
	color: var(--black, #0c0c0c);
	font-size: 18px;
	font-weight: 300;
}

.comment-input {
	font-family: "Inter", sans-serif;
	width: 288px;
	height: 48px;
	padding: 4px 24px;
	border-radius: 8px;
	border: 1px solid var(--gray-60, #9e9e9e);
	background: var(--white, #fff);
	font-size: 14px;
	font-weight: 400;
	resize: none;
}

.comments-btn {
	width: 288px;
	height: 48px;
	background-color: transparent;
	padding: 8px 16px;
	border-radius: 8px;
	border: 2px solid var(--primary, #0c68f4);
	color: var(--primary, #0c68f4);
	font-size: 16px;
	font-weight: 400;
}
