.breadcrumbs {
	display: flex;
	align-items: center;
	margin-top: 24px;
}

.breadcrumbs a {
	text-decoration: none;
	color: var(--gray-70, #717171);
}

.arrow {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
}

.active {
	color: var(--primary, #0c68f4) !important;
	padding: 4px 0px;
	border-bottom: 1px solid var(--primary, #0c68f4);
	cursor: default;
}
