.section {
	display: flex;
	gap: 12px;
	margin: 40px 0;
}

.products {
	width: calc(100% - 288px - 24px);
}

.products-wrapper {
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
	gap: 24px;
}
