.wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-grow: 2;
	width: 343px;
}

.head {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title {
	color: var(--black, #000);
	font-size: 20px;
	font-weight: 500;
}

.rating {
	display: flex;
	align-items: center;
	gap: 16px;
}



.sold {
	color: var(--gray-70, #717171);
	font-size: 14px;
	font-weight: 500;
}

.meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.meta span {
	display: flex;
	align-items: center;
}

.meta img {
	margin-right: 4px;
}

.select-color {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
}

.circleCon {
	display: flex;
	gap: 8px;
}

.circleCon button {
	width: 24px;
	height: 24px;
	background: #959595;
	border: none;
	border-radius: 100%;
}
