.card {
	display: flex;
	max-width: 400px;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

.titleInfo {
	color: var(--black, #0c0c0c);
	font-size: 16px;
	font-weight: 500;
}

.info {
	color: var(--gray-70, #717171);
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
