.header-tools {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.header-tool {
	display: flex;
	align-items: center;
	position: relative;
	padding: 8px;
	height: 46px;
	height: 100px;
	transition: height 0s 1ms;
}

.header-tool:hover {
	height: 100px;
}

.header-tool .button {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
}

.header-tool .search {
	background: center no-repeat url("../../../assets/icons/search-normal.svg");
}

.header-tool .basket {
	background: center no-repeat url("../../../assets/icons/bag.svg");
}

.header-tool .user {
	background: center no-repeat url("../../../assets/icons/user.svg");
}

.loginBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	height: 48px;
	padding: 8px 16px;
	border-radius: 8px;
	border: none;
	background: var(--primary, #0c68f4);
	color: var(--white, #fff);
	font-size: 16px;
	font-weight: 400;
	transition: background 0.3s;
}

.loginBtn:hover {
	background: var(--primary-500, #063a88);
}
