.item {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 16px;
	height: 347px;
	padding: 16px;
	border-radius: 8px;
	box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}

.item:hover {
	color: var(--primary);
}

.item:hover > .link .product-img img {
	transform: scale(1.1);
}

.product-img {
	position: relative;
	width: 100%;
	height: 190px;
	overflow: hidden;
}

.product-img img {
	transition: transform 0.3s;
}

.spacer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 8px 0;
}

.bag {
	position: absolute;
	bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 16px);
	background-color: #fff;
	padding-right: 16px;
}
