.onsale {
	position: relative;
	display: flex;
	align-items: center;
	height: 325px;
	background-color: var(--primary-500, #063a88);
	border-radius: 8px;
	padding: 40px 0 40px 32px;
	overflow: hidden;
}

.description {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 88px;
	height: 100%;
	color: var(--white, #fff);
	text-align: center;
	z-index: 10;
}

.desc-motto h4 {
	width: 200px;
	margin-bottom: 8px;
}

.navigate-arrows {
	position: absolute;
	bottom: 8px;
	right: 8px;
	display: flex;
}

.navigate-arrows button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: var(--white, #fff);
	border-radius: 100px;
	border: none;
	margin: 4px;
}

.navigate-arrows button:first-child {
	transform: rotate(180deg);
}

.decorate {
	position: absolute;
	top: -120px;
	left: -180px;
	width: 500px;
	height: 435px;
	background: url("../../../assets/ui-elements/random-shape-in-blue-png 2.png")
		50% / cover no-repeat;
	background-clip: padding-box;
	transform: rotate(100deg);
	opacity: 0.1;
	z-index: 1;
}

.items {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 237px;
	margin-left: 82px;
	overflow-x: hidden;
	z-index: 10;
}
