.label {
	color: var(--gray-70, #717171);
	font-size: 14px;
	font-weight: 300;
}

.inputCon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	padding: 12px 16px;
	border: 1px solid var(--gray-20, #f6f6f6);
	background: var(--gray-20, #f6f6f6);
}

.inputCon input {
	width: 100%;
	padding: 12px 4px;
	background: transparent;
	border-radius: 8px;
	border: 1px solid transparent;
}

.inputCon input:focus-visible {
	border: none;
	border: 1px solid var(--gray-30, #ededed);
	outline: none;
}

.editBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: transparent;
}
